body { background-color: rgb(195, 203, 245);}

.first{
    color: purple
}

#cool{
    color: grey;
}

.card-header {
    text-align: center;
    color: azure;
    font-size: 25px;
    font-style: oblique;
}

.card-text{
    text-align: left;
    font-size: 16px;
    color: rgb(40, 79, 151);
}
.card-img {
/*     height: 200px; */
    width: 275px; ;
    margin: 10 auto;
    display: block;
}

.card-link{
    font-size: small;
    text-align: center;
}
.card-desc {
    width: 50px;
    text-align: left;

}

.card {
    width: 350px;
    height: 360;
    background-color: rgb(130, 173, 223);
    margin: 30 auto; /* margin X auto centers objects */
    border: 6px solid rgb(217, 233, 252); 
    padding: 50px; /* more space between e.g. words and the border*/
}