body { background-color: rgb(195, 203, 245);}

.first{
    color: purple
}

#cool{
    color: grey;
}


.card {

}
.card-header {
    text-align: center;
    color: azure;
    font-size: x-large;
    font-family: ;
}

.card-text{
    text-align: left;
    color: azure;
}
.card-img {
/*     height: 200px; */
    width: 275px; ;
    margin: 0 auto;
    display: block;
}

.card-link{
    font-size: small;

}
.card-desc {
    width: 50px;
    text-align: left;

}

.blog {
    width: 350px;
    height: 300;
    background-color: rgb(130, 173, 223);
    margin: 30 auto; /* margin X auto centers objects */
    border: 6px solid rgb(217, 233, 252); 
    padding: 50px; /* more space between e.g. words and the border*/
}